
/*--------------GENERAL STYLES-----------------*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    font-family: inherit;
    box-sizing: border-box;
}

html {
    min-width: 100%;
}

body {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    text-rendering: geometricPrecision;
    background-color: #fff;
    overflow: auto;
    line-height: 1.5;
}

main {
    overflow: hidden;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display: flex;
}

h1 {
    font-size: 55px;
    font-weight: 400;
    color: var(--app-white);
    letter-spacing: 0.4px;
    line-height: 2;
}

p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.bold {
    font-weight: 700;
}


#map {

height: 100dvh;
}